html{
  font-family:"Epilogue",sans-serif;
  backgroung-color: hsl(0,0%,98%)
}
/* Medium Gray: hsl(0, 0%, 41%)
Almost Black: hsl(0, 0%, 8%) */
.register{
  border:2px solid hsl(0, 0%, 8%);
}
.info{
  width:400px;
}

h1{
  font-size:70px;
  color:hsl(0, 0%, 8%);
  padding:20px 0px;
}
.paragr{
  font-size:18px;
  color:hsl(0, 0%, 41%);
  padding:15px 0px;
}

.hero{
  width:500px;
  height:600px;
}
