body{
  font-family:"Epilogue",sans-serif;
  font-style: normal;
  backgroung-color: hsl(0,0%,98%);
}

.nav-link{
  color:hsl(0, 0%, 41%);
}
.nav-link:hover{
  color:hsl(0, 0%, 8%);
}
.active{
  color:hsl(0, 0%, 41%);
}
.dropdown-item{
  color:hsl(0, 0%, 41%)
}
.login{
  color:hsl(0, 0%, 41%);
}
.login:hover{
  color:hsl(0, 0%, 8%);
}
.register{
  border:2px solid hsl(0, 0%, 41%);
  color:hsl(0, 0%, 41%);
  border-radius: 10px;
}
.register:hover{
  color:hsl(0, 0%, 8%);
  border:2px solid hsl(0, 0%, 8%);
}
.info{
  width:600px;
  height: 600px;
  flex-direction: column;
  justify-content: space-between;
}

}
h1{
  font-size:70px;
  color:hsl(0, 0%, 8%);
  padding:20px 0px;

}
.paragr{
  font-size:18px;
  color:hsl(0, 0%, 41%);
  padding:15px 0px;
  width:470px;
}
.btn-dark{
  font-size: 17px;
  padding: 10px 15px;
  border-radius:10px;
  width:160px;
}
.prod{
  margin:20px;
}
.btn-dark:hover{
  background-color:hsl(0,0%,98%);
  color:hsl(0, 0%, 8%);
}


.hero{
  width:500px;
  height:600px;
}
@media screen and (max-width: 568px) {
  .sport {
    flex-direction: column;
  }
  .info {
    order: 2; 
  }
