html{
  font-family:"Epilogue",sans-serif;
  backgroung-color: hsl(0,0%,98%)
}
/* Medium Gray: hsl(0, 0%, 41%)
Almost Black: hsl(0, 0%, 8%) */

h1{
  color:hsl(0, 0%, 8%)
}
.paragr{
  font-size:50px;
  color:hsl(0, 0%, 41%)
}
